@import 'colors.sass'

.s__main
    background: url('../img/bg_hatch-dark.jpg') repeat
    max-width: 100%
    height: 910px
    color: $s_main-text
    &__ico
        margin-top: 26px
    &__function
        font-family: 'open_sans-semibold'
        font-size: 16px
        text-transform: uppercase
        margin-top: 20px
    &__phone
        color: $white
        font-size: 24px
        margin-top: 20px
    &__logo
        margin-top: 128px
        margin-bottom: 100px
        img
            max-width: 100%
    &__slogan
        font-family: 'open_sans-extrabold'
        font-size: 40px
        margin-bottom: 50px

.s__frm__agronom
    background: url('../img/bg_frm_agronom.jpg') center no-repeat
    background-size: cover
    max-width: 100%
    height: 896px
    &-icoqual
        margin-top: 60px
    &-icopromo
        margin-top: 33px

.frm__agronom
    width: 426px
    height: 600px
    margin-top: 142px
    background-color: rgba(55, 41, 34, 0.92)
    padding: 35px
    &__title
        font-family: 'open_sans-bold'
        font-size: 38px
        line-height: 1.2
        color: $white
    &__ico
        margin-bottom: 20px

.frm__agronom__input
    width: 351px
    height: 68px
    margin: 15px 0px
    font-family: 'open_sans-semibold'
    font-size: 18px
    padding-left: 63px
    color: $white
    border: 2px solid $white
    background-color: transparent
    &:active, &:focus
        outline: none
    &::-webkit-input-placeholder
        color: $white
    &::-moz-placeholder
        color: $white
    &:-ms-input-placeholder
        color: $white
    &:-moz-placeholder
        color: $white
    &-name
        background-image: url('../img/ico/ico_men-white.png')
        background-repeat: no-repeat
        background-position: 15px 17px
    &-phone
        background-image: url('../img/ico/ico_phone-white.png')
        background-repeat: no-repeat
        background-position: 15px 17px

.frm__agronom__input-submit
    width: 351px
    height: 68px
    font-family: 'open_sans-semibold'
    font-size: 28px
    text-transform: uppercase
    color: $white
    background-color: #658E4B
    border: none
    margin: 20px 0px
    outline: none
    &:hover, &:active, &:focus
        background-color: #4F7239
        outline: none

.frm__agronom__invite
    font-family: 'open_sans-regular'
    font-size: 16px
    color: #A6A382
    padding-left: 45px
    background-image: url('../img/ico/ico_guard.png')
    background-repeat: no-repeat