@import 'colors.sass'

.alert
    border-color: #ED143D!important
    color: #ED143D!important

.s__main
    background: url('../img/bg_hatch-dark.jpg') repeat
    height: 100%
    padding-bottom: 75px
    color: $s_main-text
    &__ico
        margin-top: 26px
    &__function
        font-family: 'open_sans-semibold'
        font-size: 16px
        text-transform: uppercase
        margin-top: 20px
    &__phone
        color: $white
        font-size: 24px
        margin-top: 20px
    &__logo
        margin-top: 128px
        margin-bottom: 100px
        img
            max-width: 100%
    &__slogan
        font-family: 'open_sans-extrabold'
        font-size: 40px
        margin-bottom: 50px

.s__frm__agronom
    background: url('../img/bg_frm_agronom.jpg') center no-repeat
    background-size: cover
    height: 100%
    padding-bottom: 136px
    &-icoqual
        margin-top: 60px
    &-icopromo
        margin-top: 33px

.frm__agronom
    // width: 426px
    // height: 600px
    width: 80%
    display: block
    height: 100%
    margin-top: 142px
    margin-left: auto
    background-color: rgba(55, 41, 34, 0.92)
    padding: 35px
    &__title
        font-family: 'open_sans-bold'
        font-size: 38px
        line-height: 1.2
        color: $white
    &__ico
        margin-bottom: 20px

@media (max-width: 768px)
    .frm__agronom
        width: 70%
@media screen and (min-width: 320px) and (max-width: 767px)
    .frm__agronom
        width: 95%
    .frm__agronom__title
        font-size: 32px
@media (max-width: 320px)
    .frm__agronom__title
        font-size: 24px

.frm__agronom__input
    // width: 351px
    width: 100%
    height: 68px
    margin: 15px 0px
    font-family: 'open_sans-semibold'
    font-size: 18px
    padding-left: 63px
    color: $white
    border: 2px solid $white
    background-color: transparent
    &:active, &:focus
        outline: none
    &::-webkit-input-placeholder
        color: $white
    &::-moz-placeholder
        color: $white
    &:-ms-input-placeholder
        color: $white
    &:-moz-placeholder
        color: $white
    &-name
        background-image: url('../img/ico/ico_men-white.png')
        background-repeat: no-repeat
        background-position: 15px 17px
    &-phone
        background-image: url('../img/ico/ico_phone-white.png')
        background-repeat: no-repeat
        background-position: 15px 17px

.frm__agronom__input-submit
    // width: 351px
    width: 100%
    height: 68px
    font-family: 'open_sans-semibold'
    font-size: 28px
    text-transform: uppercase
    color: $white
    background-color: #658E4B
    border: none
    margin: 20px 0px
    outline: none
    &:hover, &:active, &:focus
        background-color: #4F7239
        outline: none

.frm__agronom__invite
    font-family: 'open_sans-regular'
    font-size: 16px
    color: #A6A382
    padding-left: 45px
    background-image: url('../img/ico/ico_guard.png')
    background-repeat: no-repeat

.s__tarifs
    background: url('../img/bg_hatch-light.jpg') repeat
    height: 100%
    padding: 50px 0px 75px
    &__title
        font-family: 'open_sans-semibold'
        font-size: 32px
        text-transform: uppercase
        color: #76A76D
        padding-bottom: 50px

.s__tarifs__card
    background: url('../img/bg_tarif-card.png') center no-repeat
    background-size: 100% 100%
    padding: 30px 10px
    &-title
        font-family: 'open_sans-extrabold'
        font-size: 40px
        color: #243E37
        margin: 30px
    &-price
        font-family: 'open_sans-extrabold'
        font-size: 46px
        color: #7BA461
        margin-top: 30px
    &-period
        font-size: 24px
        color: #7BA461

.s__tarifs__card-list
    padding-left: 10px
    &-item
        list-style-type: none
        background: url('../img/ico/ico_point-list.png') no-repeat
        // background-position: 0px 7px
        background-size: 31px 26px
        padding-left: 37px
        margin-top: 12px
        margin-bottom: 12px
        font-size: 18px
        color: #142622
        margin-left: 15px
@media screen and (max-width: 768px) and (min-width: 425px)
    .s__tarifs__card
        width: 65%
        margin: 30px auto
        &:first-child
            margin-top: 0px

.s__service
    background-color: #F5FAF5
    height: 100%
    padding: 75px 0px
    &-title
        font-family: 'open_sans-semibold'
        font-size: 32px
        text-transform: uppercase
        color: #76A76D
        margin-bottom: 40px
    &-text
        font-size: 18px
        color: #000
        margin-bottom: 70px

.s__usluga
    margin-bottom: 100px
    &__img
        margin-bottom: 26px
.s__usluga-title
    font-family: 'open_sans-extrabold'
    font-size: 30px
    color: #131313
    margin-bottom: 26px
.s__usluga-text
    font-size: 24px
    color: #202124
    span
        font-family: 'open_sans-semibold'


.s__present
    height: 100%
    padding: 60px 0px
    &__text
        font-size: 26px
        color: #161616
        margin: 25px 0 20px
    &__proposal
        font-family: 'open_sans-bold'
        font-size: 36px
        text-transform: uppercase
        color: #62834D
        margin-bottom: 45px

.s__present__form
    border: 3px solid #EFEFEF
    padding: 40px 0px

.frm__present__input
    height: 68px
    margin: 20px 0px
    font-family: 'open_sans-semibold'
    font-size: 18px
    padding-left: 63px
    color: #1D1D1D
    border: 2px solid #1D1D1D
    background-color: transparent
    &:active, &:focus
        outline: none
    &::-webkit-input-placeholder
        color: #1D1D1D
    &::-moz-placeholder
        color: #1D1D1D
    &:-ms-input-placeholder
        color: #1D1D1D
    &:-moz-placeholder
        color: #1D1D1D
    &-name
        background-image: url('../img/ico/ico_men-dark.png')
        background-repeat: no-repeat
        background-position: 15px 17px
    &-phone
        background-image: url('../img/ico/ico_phone-dark.png')
        background-repeat: no-repeat
        background-position: 15px 17px

.frm__present__input-submit
    height: 68px
    margin: 20px 0px
    font-family: 'open_sans-bold'
    font-size: 22px
    text-transform: uppercase
    color: #1D1D1D
    padding: 0px 28px
    background-color: #EAB72E
    border: none
    outline: none
    &:hover, &:active, &:focus
        background-color: #B58B1C
        outline: none

.s__footer
    height: 100%
    background-color: #182B22
    color: #76A76D
    padding: 60px 0px 40px

.s__footer__left
    &__title
        font-size: 13px
        text-transform: uppercase
    &__phone
        font-size: 30px
        color: $white
        margin-top: 45px
        margin-left: 65px
    &__mail
        font-size: 18px
        color: $white
        margin-top: 12px
        margin-left: 65px
    &__social
        margin-top: 45px
        margin-bottom: 26px
        &-item
            margin: 0px 8px
            &:first-child
                margin-left: 65px

.s__footer__policy-title
    font-family: 'open_sans-semibold'
    font-size: 18px
    margin-bottom: 10px
.s__footer__policy-text
    font-size: 16px
    margin-bottom: 90px

.s__footer__devstudio
    margin-left: 65px
.s__footer__copyr
    font-size: 16px
    color: $white

@media (max-width: 320px)
    .s__footer__left__logo, .s__footer__left__title,
    .s__footer__left__phone, .s__footer__left__mail,
    .s__footer__left__social-item:first-child
        margin-left: 15px

@media (max-width: 768px)
    .s__footer__devstudio
        margin-left: 15px

@media screen and (min-width: 320px) and (max-width: 767px)
    .s__footer__copyr
        margin-left: 15px
        margin-top: 14px

@media (max-width: 1024px)
    .s__usluga-title
        margin-left: 16px
    .s__usluga-text
        margin-left: 16px
        font-size: 20px

.thanks__text
    font-family: 'open_sans-semibold'
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


// Animate-css Section
.animated
    -webkit-animation-duration: 1s
    animation-duration: 1s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both
    &.infinite
        -webkit-animation-iteration-count: infinite
        animation-iteration-count: infinite
    &.hinge
        -webkit-animation-duration: 2s
        animation-duration: 2s

@-webkit-keyframes shake
    from, to
        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)

    10%, 30%, 50%, 70%, 90%
        -webkit-transform: translate3d(-10px, 0, 0)
        transform: translate3d(-10px, 0, 0)

    20%, 40%, 60%, 80%
        -webkit-transform: translate3d(10px, 0, 0)
        transform: translate3d(10px, 0, 0)


@keyframes shake
    from, to
        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)

    10%, 30%, 50%, 70%, 90%
        -webkit-transform: translate3d(-10px, 0, 0)
        transform: translate3d(-10px, 0, 0)

    20%, 40%, 60%, 80%
        -webkit-transform: translate3d(10px, 0, 0)
        transform: translate3d(10px, 0, 0)


.shake
    -webkit-animation-name: shake
        animation-name: shake
// END of Animate-css Section