-var pageTitle = "Садодел - служба ухода за зелеными"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='yandex-verification' content='4c2ffda557373a34')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Садодел - служба ухода за зелеными, уход за садом, уход за участком')
        title= pageTitle
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="libs/bootstrap/bootstrap.css")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
    body
        .row.s__main
            .container.text-center
                .row
                    .col-md-12.col-sm-12
                        .s__main__ico
                            img(src='img/ico/ico_top-single.png' alt='Садодел - уход за зелеными')
                        .s__main__function Комплексный уход за садом и участком
                        .s__main__phone 8 495 740-85-77
                .row.hidden-xs
                    .container
                        .col-md-12.col-sm-12
                            .s__main__logo
                                img(src='img/logo.png' alt='Садодел - Комплексный уход за садом и участком')
                .row
                    .container
                        .col-md-12.col-sm-12
                            .s__main__slogan
                                | Кусты посадим. Деревья вылечим.
                                br
                                |Газоны подстрижем.
                            .s__main__arrowdown
                                img(src='img/arrow_down.png' alt='Смотреть далее')

        .row.s__frm__agronom
            .container
                .row
                    //- .container
                    .col-md-2.hidden-sm.hidden-xs.s__frm__agronom-icoqual
                        img(src='img/mark_quality.png' alt='Гарантия качества')
                    .col-md-3.hidden-sm.hidden-xs.s__frm__agronom-icopromo
                        img(src='img/promo_month.png' alt='Месяц в подарок')
                    .col-md-7
                        form.frm__agronom(action="")
                            .frm__agronom__ico.text-center
                                img(src='img/ico/ico_form.png' alt='Садодел - заказать выезд агронома')
                            .frm__agronom__title Оставить заявку на бесплатный выезд агронома
                            input.frm__agronom__input.frm__agronom__input-name#name_frm_agronom(type='text' placeholder='Ваше имя')
                            input.frm__agronom__input.frm__agronom__input-phone.phonemask#phone_frm_agronom(type='text' placeholder='Телефон')
                            input.frm__agronom__input-submit(type='submit' value='Отправить')
                            .frm__agronom__invite Оставьте заявку и к вам приедет наш специалист-агроном бесплатно

        .row.s__tarifs
            .container
                .row
                    .s__tarifs__title.text-center Наши тарифы
                    .col-md-4.text-center
                        .s__tarifs__card
                            img.text-center(src='img/ico/ico_tarif-zakupka.png' alt='Садодел - тариф закупаем')
                            .s__tarifs__card-title Закупаем
                            ul.s__tarifs__card-list.text-left
                                li.s__tarifs__card-list-item Подбор оптимальных растений по составленному техническому заданию.
                                li.s__tarifs__card-list-item Подключение к программе скидок на ведущих питомниках.
                                li.s__tarifs__card-list-item Бесплатное сопровождение и пользование программой скидок весь сезон.
                            .s__tarifs__card-price 17 100.-
                            .s__tarifs__card-period сезон

                    .col-md-4.text-center
                        .s__tarifs__card
                            img(src='img/ico/ico_tarif-sazhaem.png' alt='Садодел - тариф закупаем')
                            .s__tarifs__card-title Сажаем
                            ul.s__tarifs__card-list.text-left
                                li.s__tarifs__card-list-item Выезд двух бригадиров-специалистов на осмотр территории, планируемой под посадки.
                                li.s__tarifs__card-list-item Отбор проб почвы.
                                li.s__tarifs__card-list-item Разработка плана посадок на сезон.
                                li.s__tarifs__card-list-item Рекомендации по времени озеленения территории.
                                li.s__tarifs__card-list-item Расписание внесения удобрений под определенные группы растений и газона.
                                li.s__tarifs__card-list-item Бесплатное консультационное сопровождение по посадкам в течение сезона.
                            .s__tarifs__card-price 21 900.-
                            .s__tarifs__card-period сезон

                    .col-md-4.text-center
                        .s__tarifs__card
                            img(src='img/ico/ico_tarif-lechim.png' alt='Садодел - тариф закупаем')
                            .s__tarifs__card-title Лечим
                            ul.s__tarifs__card-list.text-left
                                li.s__tarifs__card-list-item Выезд 2-х агрономов-специалистов на осмотр участка.
                                li.s__tarifs__card-list-item Сбор информации о генетических предрасположенностях флоры.
                                li.s__tarifs__card-list-item Определение методов лечения и поддержания здоровья насаждений.
                                li.s__tarifs__card-list-item Бесплатное сопровождение по ходу планового лечения.
                            .s__tarifs__card-price 11 890.-
                            .s__tarifs__card-period 2 месяца

        .row.s__service
            .container
                .row
                    .col-md-12.col-sm-12
                        .container
                            .s__service-title.text-center Услуги и стоимость
                            .s__service-text.text-left Необходимые для поддержания сада или парка в здоровом, ухоженном состоянии. Вы можете заказать в нашей организации, которая предоставляет полный спектр услуг по уходу за садовыми и парковыми территориями. В каждом конкретном случае мы разрабатываем индивидуальный календарный план мероприятий по уходу, основываясь на возрасте насаждений, месторасположении, механического состава почвы, особенностей полива и многих других факторов влияющих на жизнь растений. Уход за садами и парками, наша компания, производит современными инструментами с учетом всех особенностей этой работы.
                .row.s__usluga
                    .container
                        .col-md-5.col-sm-12.col-xs-12
                            img.s__usluga__img.img-responsive(src='img/rasteniya.jpg' alt='Уход за растениями')
                        .col-md-7.col-sm-12.col-xs-12
                            .s__usluga-title Уход за растениями
                            p.s__usluga-text
                                | Обработка от вредителей
                                span &nbsp;— 350 руб. / 1 пог. м.
                            p.s__usluga-text
                                | Чистка (удаление сушняка и старых веток)
                                span &nbsp;— 120 руб. / 1 пог. м.
                            p.s__usluga-text
                                | Обрезка (декоративная стрижка, формирование кроны)
                                span &nbsp;— 300 руб. / 1 пог. м.
                            p.s__usluga-text
                                | Внесение удобрений
                                span &nbsp;— 180 руб. / 1 растение
                            p.s__usluga-text
                                | Пролив стимуляторами
                                span &nbsp;— 180 руб. / 1 растение
                            p.s__usluga-text
                                | Формирование пристволовых кругов
                                span &nbsp;— 270 руб. /  1 круг
                .row
                    .container
                        .col-md-5.col-sm-12.col-xs-12
                            img.s__usluga__img.img-responsive(src='img/gazony.jpg' alt='Уход за газоном')
                        .col-md-7.col-sm-12.col-xs-12
                            .s__usluga-title Уход за газоном
                            p.s__usluga-text
                                | Стрижка
                                span &nbsp;— 680 руб. / сотка
                            p.s__usluga-text
                                | Удобрение
                                span &nbsp;— 520 руб. / сотка
                            p.s__usluga-text
                                | Аэрация
                                span &nbsp;— 780 руб. / сотка
                            p.s__usluga-text
                                | Вычесывание
                                span &nbsp;— 1150 руб. / сотка
                            p.s__usluga-text
                                | Уборка и вывоз мусора
                                span &nbsp;— 370 руб. /м3

        .row.s__present
            .container
                .row
                    .container
                        .col-md-12.text-center
                            .s__present__ico
                                img(src='img/ico/ico_certif.png' alt='Предложение в подарок')
                            .s__present__text При заключении договора на ежемесячное обслуживание садового участка
                            .s__present__proposal
                                | Первый месяц обслуживания
                                br
                                | в подарок
                .container
                    .row
                        .container.s__present__form.text-center
                            form.frm__present
                                .col-md-4.col-sm-12
                                    input.frm__present__input.frm__present__input-name#name_frm_present(type='text' placeholder='Ваше имя')
                                .col-md-4.col-sm-12
                                    input.frm__present__input.frm__present__input-phone.phonemask#phone_frm_present(type='text' placeholder='Телефон')
                                .col-md-4.col-sm-12
                                    input.frm__present__input-submit(type='submit' value='Получить подарок')

        .row.s__footer
            .container
                .row
                    .container
                        .col-md-5.col-sm-12
                            .row
                                .col-md-5.col-sm-3
                                    img.s__footer__left__logo(src='img/ico/ico_footer.png' alt='Садодел уход за растениями')
                                .col-md-7.col-sm-9.s__footer__left__title Служба ухода за зелеными
                            .s__footer__left__phone 8 495 740-85-77
                            .s__footer__left__mail info@sadodel.ru
                            ul.s__footer__left__social.list-inline
                                li.s__footer__left__social-item
                                    a(href='javascript:void(0);')
                                        img(src='img/ico/ico_twitter.png' alt='Садодел в Твиттере')
                                li.s__footer__left__social-item
                                    a(href='https://vk.com/sadodelru')
                                        img(src='img/ico/ico_vk.png' alt='Садодел во ВКонтакте')
                                li.s__footer__left__social-item
                                    a(href='https://www.facebook.com/Sadodel-1167673239930583')
                                        img(src='img/ico/ico_fb.png' alt='Садодел в Фейсбуке')
                                li.s__footer__left__social-item
                                    a(href='javascript:void(0);')
                                        img(src='img/ico/ico_instag.png' alt='Садодел в Интсаграме')
                                li.s__footer__left__social-item
                                    a(href='javascript:void(0);')
                                        img(src='img/ico/ico_youtube.png' alt='Садодел канал YouTube')
                        .col-md-7.col-sm-12.s__footer__policy
                            .s__footer__policy-title Политика Конфиденциальности
                            .s__footer__policy-text Садодел уважает ваше право и соблюдает конфиденциальность при заполнении, передачи и хранении Ваших конфиденциальных сведений. Использование обратной связи на сайте buh-mb.ru означает ваше согласие на обработку и дальнейшей передачи ваших контактных данных менеджерам нашей компании. Под персональными данными подразумевается информация, относящаяся к субъекту персональных данных, в частности имя, контактные реквизиты (адрес электронной почты и телефон) и иные данные, относимые Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» к категории персональных данных. Целью обработки персональных данных является первичная консультация нашей компанией. А также информирование по e-mail и телефону о текущих предложениях.

                .row
                    .col-md-5.col-sm-5.col-xs-12
                        a.s__footer__devstudio(href='http://www.ne-prosto.ru/')
                            img(src='img/ico/ico_neprosto.png' alt='Студия дизайна Непросто')
                    .col-md-7.col-sm-7.col-xs-12
                        .s__footer__copyr &#xa9; 2016, Садодел. Комплексные услуги по уходу за садом



        script(src="libs/jquery/jquery.min.js")
        script(src="libs/bootstrap/bootstrap.min.js")
        script(src="libs/maskedinput/jquery.maskedinput.min.js")
        script(src="js/app.js")
        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
            w.yaCounter37528015 = new Ya.Metrika({
            id:37528015,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
            });
            } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/37528015', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
