-var pageTitle = "Садодел - служба ухода за зелеными"

doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    //- meta(name='yandex-verification' content='672bbf7ed8b0d929')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Садодел - служба ухода за зелеными, уход за садом, уход за участком')
    title= pageTitle
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="libs/bootstrap/bootstrap.css")
    //[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
body
    .row.s__main
        .container.text-center
            .row
                .col-md-12.col-sm-12
                    .s__main__ico
                        img(src='img/ico/ico_top-single.png' alt='Садодел - уход за зелеными')
                    .s__main__function Комплексный уход за садом и участком
                    .s__main__phone 8 495 740-85-77
            .row
                .col-md-12.col-sm-12
                    .s__main__logo
                        img(src='img/logo.png' alt='Садодел - Комплексный уход за садом и участком')
            .row
                .col-md-12.col-sm-12
                    .s__main__slogan
                        | Кусты посадим. Деревья вылечим.
                        br
                        |Газоны подстрижем.
                    .s__main__arrowdown
                        img(src='img/arrow_down.png' alt='Смотреть далее')
    .row.s__frm__agronom
        .container
            .row
                .s__frm__agronom-icoqual.col-md-1.col-sm-2
                    img(src='img/mark_quality.png' alt='Гарантия качества')
                .s__frm__agronom-icopromo.col-md-1.col-sm-3
                    img(src='img/promo_month.png' alt='Месяц в подарок')
                .col-md-6.hidden-sm
                .col-md-4.col-sm-7
                    form.frm__agronom(action="")
                        .frm__agronom__ico.text-center
                            img(src='img/ico/ico_form.png' alt='Садодел - заказать выезд агронома')
                        .frm__agronom__title Оставить заявку на бесплатный выезд агронома
                        input.frm__agronom__input.frm__agronom__input-name(type='text' placeholder='Ваше имя')
                        input.frm__agronom__input.frm__agronom__input-phone(type='text' placeholder='Телефон')
                        input.frm__agronom__input-submit(type='submit' value='Отправить')
                        .frm__agronom__invite Оставьте заявку и к вам приедет наш специалист-агроном бесплатно


    script(src="libs/jquery/jquery.min.js")
    script(src="libs/bootstrap/bootstrap.min.js")
    script(src="js/app.js")
