-var pageTitle = "Садодел - служба ухода за зелеными"

doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    //- meta(name='yandex-verification' content='672bbf7ed8b0d929')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Садодел - служба ухода за зелеными, уход за садом, уход за участком')
    title= pageTitle
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="libs/bootstrap/bootstrap.css")
    //[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
body
    .row.s__main
        .container.text-center
            .row
                .col-md-12.col-sm-12
                    .s__main__ico
                        img(src='img/ico/ico_top-single.png' alt='Садодел - уход за зелеными')
                    .s__main__function Комплексный уход за садом и участком
                    .s__main__phone 8 495 740-85-77
            .row
                .col-md-12.col-sm-12
                    .s__main__logo
                        img(src='img/logo.png' alt='Садодел - Комплексный уход за садом и участком')
            .row
                .col-md-12.col-sm-12
                    .s__main__slogan
                        | Кусты посадим. Деревья вылечим.
                        br
                        |Газоны подстрижем.
                    .s__main__arrowdown
                        img(src='img/arrow_down.png' alt='Смотреть далее')
    
    .row.s__frm__agronom
        .container
            .row
                .s__frm__agronom-icoqual.col-md-1.col-sm-2
                    img(src='img/mark_quality.png' alt='Гарантия качества')
                .s__frm__agronom-icopromo.col-md-1.col-sm-3
                    img(src='img/promo_month.png' alt='Месяц в подарок')
                .col-md-6.hidden-sm
                .col-md-4.col-sm-7
                    form.frm__agronom(action="")
                        .frm__agronom__ico.text-center
                            img(src='img/ico/ico_form.png' alt='Садодел - заказать выезд агронома')
                        .frm__agronom__title Оставить заявку на бесплатный выезд агронома
                        input.frm__agronom__input.frm__agronom__input-name(type='text' placeholder='Ваше имя')
                        input.frm__agronom__input.frm__agronom__input-phone(type='text' placeholder='Телефон')
                        input.frm__agronom__input-submit(type='submit' value='Отправить')
                        .frm__agronom__invite Оставьте заявку и к вам приедет наш специалист-агроном бесплатно

    .row.s__tarifs
        .container
            .row
                .s__tarifs__title.text-center Наши тарифы
                .col-md-4.text-center
                    .s__tarifs__card
                        img.text-center(src='img/ico/ico_tarif-zakupka.png' alt='Садодел - тариф закупаем')
                        .s__tarifs__card-title Закупаем
                        ul.s__tarifs__card-list.text-left
                            li.s__tarifs__card-list-item Подбор оптимальных растений по составленному техническому заданию.
                            li.s__tarifs__card-list-item Подключение к программе скидок на ведущих питомниках.
                            li.s__tarifs__card-list-item Бесплатное сопровождение и пользование программой скидок весь сезон.
                        .s__tarifs__card-price 17 100.-
                        .s__tarifs__card-period сезон

                .col-md-4.text-center
                    .s__tarifs__card
                        img(src='img/ico/ico_tarif-sazhaem.png' alt='Садодел - тариф закупаем')
                        .s__tarifs__card-title Сажаем
                        ul.s__tarifs__card-list.text-left
                            li.s__tarifs__card-list-item Выезд двух бригадиров-специалистов на осмотр территории, планируемой под посадки.
                            li.s__tarifs__card-list-item Отбор проб почвы.
                            li.s__tarifs__card-list-item Разработка плана посадок на сезон.
                            li.s__tarifs__card-list-item Рекомендации по времени озеленения территории.
                            li.s__tarifs__card-list-item Расписание внесения удобрений под определенные группы растений и газона.
                            li.s__tarifs__card-list-item Бесплатное консультационное сопровождение по посадкам в течение сезона.
                        .s__tarifs__card-price 21 900.-
                        .s__tarifs__card-period сезон

                .col-md-4.text-center
                    .s__tarifs__card
                        img(src='img/ico/ico_tarif-lechim.png' alt='Садодел - тариф закупаем')
                        .s__tarifs__card-title Лечим
                        ul.s__tarifs__card-list.text-left
                            li.s__tarifs__card-list-item Выезд 2-х агрономов-специалистов на осмотр участка.
                            li.s__tarifs__card-list-item Сбор информации о генетических предрасположенностях флоры.
                            li.s__tarifs__card-list-item Определение методов лечения и поддержания здоровья насаждений.
                            li.s__tarifs__card-list-item Бесплатное сопровождение по ходу планового лечения.
                        .s__tarifs__card-price 11 890.-
                        .s__tarifs__card-period 2 месяца

    .row.s__service
        .container
            .row
                .col-md-12.col-sm-12
                    .container
                        .s__service-title.text-center Услуги и стоимость
                        .s__service-text.text-left Необходимые для поддержания сада или парка в здоровом, ухоженном состоянии. Вы можете заказать в нашей организации, которая предоставляет полный спектр услуг по уходу за садовыми и парковыми территориями. В каждом конкретном случае мы разрабатываем индивидуальный календарный план мероприятий по уходу, основываясь на возрасте насаждений, месторасположении, механического состава почвы, особенностей полива и многих других факторов влияющих на жизнь растений. Уход за садами и парками, наша компания, производит современными инструментами с учетом всех особенностей этой работы.
            .row.s__usluga
                .col-md-2
                .col-md-3
                    img(src='img/rasteniya.jpg' alt='Уход за растениями')
                .col-md-7
                    .s__usluga-title Уход за растениями
                    p.s__usluga-text
                        | Обработка от вредителей
                        span &nbsp;— 350 руб. / 1 пог. м.
                    p.s__usluga-text
                        | Чистка (удаление сушняка и старых веток)
                        span &nbsp;— 120 руб. / 1 пог. м.
                    p.s__usluga-text
                        | Обрезка (декоративная стрижка, формирование кроны)
                        span &nbsp;— 300 руб. / 1 пог. м.
                    p.s__usluga-text
                        | Внесение удобрений
                        span &nbsp;— 180 руб. / 1 растение
                    p.s__usluga-text
                        | Пролив стимуляторами
                        span &nbsp;— 180 руб. / 1 растение
                    p.s__usluga-text
                        | Формирование пристволовых кругов
                        span &nbsp;— 270 руб. /  1 круг
            .row
                .col-md-2
                .col-md-3
                    img(src='img/gazony.jpg' alt='Уход за газоном')
                .col-md-7
                    .s__usluga-title Уход за газоном
                    p.s__usluga-text
                        | Стрижка
                        span &nbsp;— 680 руб. / сотка
                    p.s__usluga-text
                        | Удобрение
                        span &nbsp;— 520 руб. / сотка
                    p.s__usluga-text
                        | Аэрация
                        span &nbsp;— 780 руб. / сотка
                    p.s__usluga-text
                        | Вычесывание
                        span &nbsp;— 1150 руб. / сотка
                    p.s__usluga-text
                        | Уборка и вывоз мусора
                        span &nbsp;— 370 руб. /м3




    script(src="libs/jquery/jquery.min.js")
    script(src="libs/bootstrap/bootstrap.min.js")
    script(src="js/app.js")
