-var pageTitle = "Спасибо за оставленную заявку"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='yandex-verification' content='4c2ffda557373a34')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Садодел - служба ухода за зелеными, уход за садом, уход за участком')
        title= pageTitle
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="libs/bootstrap/bootstrap.css")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
            <![endif]
    body
        .thanks__text.text-center
            h1 Спасибо за оставленную заявку.
            h2 Наши менеджеры свяжутся с Вами в ближайшее время.

        script(src="libs/jquery/jquery.min.js")
        script(src="libs/bootstrap/bootstrap.min.js")

        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
            w.yaCounter37528015 = new Ya.Metrika({
            id:37528015,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
            });
            } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/37528015', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
